.buying-image {
  scale: 1;
  margin-top: 1rem;
  transition: all 250ms;
}

.buying-image:hover {
  scale: 1.02;
  transition: all 250ms;
}

.steps-bg {
  background-position: 0 43%;
  background-size: 100%;
}

.overflow-container {
  width: fit-content;
  background-color: #12142de6;
  border-radius: 1rem;
  display: flex;
}

.msg-div {
  background-image: radial-gradient(circle at top, #020414 1%, #020c05ff);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem 1rem 1rem 0;
  position: relative;
  width: fit-content;
}

.msg-box-1 {
  align-self: end;
  background-color: #2d121fff;
  border-radius: 10px 10px 0 10px;
  color: white;
  display: flex;
  margin: 0 1rem;
  max-width: 78%;
  width: fit-content;
  transition: all 2000ms ease;
}

.msg-box-1:hover {
  background-color: #12142dff;
  transform: translateX(-1%);
  transition: all 100ms ease;
}

.msg-box-2 {
  background-color: #432e37ff;
  border-radius: 0 10px 10px 10px;
  color: white;
  display: flex;
  margin: 0 1rem;
  max-width: 78%;
  transition: all 2000ms ease;
  width: fit-content;
}

.msg-box-2:hover {
  background-color: #12142dff;
  transform: translateX(1%);
  transition: all 100ms ease;
}

@media (min-width: 1280px) {
  .msg-box-1 {
    font-size: 1.1rem;
    margin: 0 2rem;
  }
  .msg-box-2 {
    font-size: 1.1rem;
    margin: 0 2rem;
  }
}
