.card {
  margin: 2.5rem;
  height: 15rem;
  width: 15rem;
  border: solid #f54c51;
  border-width: 0 1px 1px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #ccccccff;
  transition: all ease-in-out 100ms;
}

.card:hover {
  box-shadow: 3px 3px 3px #ea9679ff;
}

.card:active {
  border: solid #f54c51;
  border-width: 1px 0 0 1px;
  box-shadow: inset 3px 3px 3px #ccccccff;
  scale: 0.99;
  transition: all ease-in-out 100ms;
}

.for-shadow:active {
  position: relative;
  z-index: -1;
}
