@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Corbel;
  src: url("../public/fonts/corbel.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../public/fonts/Lato-Regular.ttf");
}

body {
  font-family: Lato;
  font-size: 1rem;
}
